

<% if authentications = current_user.authentications  %>
  <% if !authentications.empty? && !params[:retrieve_external_profiledata] %>

<h4>Would you like to retrieve profile data from one of your external identities?</h4>


  <% for authn in current_user.authentications %>
    <%= form_tag "/auth/" + authn.provider , :method => :get do %>

      <%= authn.provider.camelize %>:<%= authn.profile_uri %>
      <span class="button">
        <%= submit_tag "Retrieve", :name => "retrieve_external", :class => "btn btn-small" %>
      </span>

      <%= hidden_field_tag "scope", "/orcid-bio/read-limited"  %>
    <% end %>

    <br />

  <% end %>



  <% elsif params[:retrieve_external] %>
  <h4>Showing profile data from <%= @external_authn.provider %>:<%= @external_authn.uid %></h4>
  <pre>Note: probably should highlight somehow which fields are externally sourced</pre>
  <% end %>
  
<% end %>
