<%- model_class = Manuscript.new.class -%>

<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>

<p>&nbsp;</p>

<%= form_tag manuscripts_path + '/update' do -%>

Action for selected manuscripts:
<%= submit_tag "Delete", :class =>"btn btn-mini btn-danger" %>
<%= submit_tag "Send to ORCID", :class =>"btn btn-mini btn-primary" %>


<table class="table table-striped">
  <thead>
    <tr>
      <th><%= check_box_tag "thead" -%></th>
      <th>In ORCID?</th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @manuscripts.each do |manuscript| %>
      <tr>
        <td><%= check_box_tag "selected_manuscripts", manuscript.id -%></td>
        <td>XX</td>
        <td><%= link_to manuscript.id, manuscript_path(manuscript) %></td>
        <td><%= link_to manuscript.title, manuscript_path(manuscript) %></td>
        <td><%=l manuscript.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_manuscript_path(manuscript), :class => 'btn btn-mini' %>
          <%= link_to t('.delete', :default => t("helpers.links.delete")),
                      manuscript_path(manuscript),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%- end  %> 



<%= link_to t('.new', :default => t("helpers.links.new")),
            new_manuscript_path,
            :class => 'btn btn-primary' %>
